# together enable HTTP basic authentication. (Password should be a string base64 encoded from bcrypt hash.
# You can use https://bcrypt-generator.com/ with default config and
# https://www.base64encode.org/.)
#  docker-compose -f docker-compose.yml config check validate config
version: "3.8"
services:
  webssh:
    image: "yourdockeracc/webssh:latest"
    ports:
      - "8888"
    restart: "always"
    labels:
      - "virtual.host=ssh.yourdomain.com"
      - "virtual.tls-email=your@email.com"
      - "virtual.port=8888"
      - "virtual.auth.username=sshwebadmin"
      - "virtual.auth.password=JDJhJDEyJDNoMUpsN080WlU1UzdpWi5KQXFDWnVGckQ2Z1ZwRVJieGZFaU04MTFMZFhYZk1NMmhGM1VP" #example password = password
    environment:
      TZ: Asia/Bangkok
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์
networks:
  default:
    external: true
    name: proxy-network
