version: "3.8"

services:
  virtual:
    image: jwilder/whoami:latest
    restart: always
    container_name: your_whoami.com
    labels:
      - "virtual.host=your_whoami.com"
      - "virtual.tls-email=your@email.com" # ssl is now on
      - "virtual.port=8000" # exposed port of this container
    environment:
      VIRTUAL_HOST: your_whoami.com
      VIRTUAL_PORT: 8000
      LETSENCRYPT_HOST: "your_whoami.com"
      LETSENCRYPT_EMAIL: "your@email.com"
      TZ: Asia/Bangkok
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

networks:
  default:
    external: true
    name: proxy-network
