version: "3.8"
services:
  openssh-server:
    image: devdotnetorg/openssh-server:ubuntu
    container_name: openssh-server
    working_dir: /works
    environment:
      - TZ=Asia/Bangkok
      - USER_PASSWORD=your-toor-password
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # สำหรับ ต้องการใช้กับ docker ต้องลง docker client เ้พิ่ม
      - ./openssh-server-data:/data # ไว้เก็บ ข้อมูล ssh data
      - ./your-works-folder:/works # ไว้ mount ไปที่ทำงานของ dir เพื่อจะสามารถ remote ทำงานได้
    ports:
      - "22:22"
    restart: always
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

volumes:
  openssh-server-data:
    name: openssh-server-data

networks:
  default:
    external: true
    name: proxy-network
