version: "3.8"

services:
  dbpostgresql:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: dbpass_your_database_password
      TZ: Asia/Bangkok
      PGTZ: Asia/Bangkok
    volumes:
      - sqldata:/var/lib/postgresql/data
      - ./timezone:/etc/timezone
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      TZ: Asia/Bangkok
      PGADMIN_DEFAULT_EMAIL: your@email.com
      PGADMIN_DEFAULT_PASSWORD: yourpassword
      PGADMIN_CONFIG_SERVER_MODE: "False"
    labels:
      - "virtual.host=pgadmin3.youdomain.com"
      - "virtual.tls-email=your@email.com" # ssl is now on
      - "virtual.port=80" # exposed port of this container
    volumes:
      - pgadmin:/var/lib/pgadmin
    restart: always
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

networks:
  default:
    external: true
    name: proxy-network

volumes:
  pgadmin:
  sqldata:
