version: "3.8"
services:
  mssql:
    image: "mcr.microsoft.com/mssql/server"
    container_name: mssql
    restart: "always"
    ports:
      - "1433:1433"
    expose:
      - "1433"
    labels:
      com.docker.compose.project: "mssql"
    environment:
      TZ: Asia/Bangkok
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "mssql2017@pass"
    volumes:
      - data-mssqlvolume:/var/opt/mssql
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

  phpweb:
    image: "yourdockeracc/caddyphpsqlsrv:latest"
    container_name: phpweb
    ports:
      - "80:2015"
    expose:
      - "80"
    environment:
      TZ: Asia/Bangkok
    volumes:
      - ./php:/srv
      - caddycerts-data:/etc/caddycerts
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

volumes:
  data-mssqlvolume:
  caddycerts-data:

networks:
  default:
    external: true
    name: proxy-network
