# POST
API_PORT=3000
BIND_ADDRESS=0.0.0.0

SSO_AUTH_SERVER=sso.yourdomain.com
SSO_REALM=your-realm-app
SSO_CLIENTID=your-clientid-api
API_URL=https://api.yourdomain.com

VITE_KEYCLOAK_URL=https://sso.yourdomain.com
VITE_KEYCLOAK_REALM=yourdomain

# ถ้ามี 1 web client
VITE_KEYCLOAK_CLIENT_ID=yourdomain-demo


VITE_API_BASE_URL=https://api.yourdomain.com

# WEB1
# VITE_KEYCLOAK_CLIENT_SECRET=your-actual-client-secret-here 
VITE_KEYCLOAK_CLIENT_WEB1_ID=your-clientid-web1
WEB1_URL=https://web1.yourdomain.com

# WEB2
VITE_KEYCLOAK_CLIENT_WEB2_ID=your-clientid-web2
WEB2_URL=https://web2.yourdomain.com