#  docker-compose -f docker-compose.yml config check validate config
version: "3.8"
services:
  minecraft:
    image: itzg/minecraft-server:java19
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
    environment:
      EULA: "TRUE"
      UID: 1000
      GID: 1000
      TZ: "Asia/Bangkok"
      GUI: "FALSE"
      CUSTOM_SERVER: server.jar
    volumes:
      - minecraft-data:/data
    labels:
      com.docker.compose.project: "servicname"
      virtual.host: "servicname.local.com"
      virtual.tls-email: your@email.com
      virtual.port: "25565"
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์

volumes:
  minecraft-data:

networks:
  default:
    external: true
    name: proxy-network
