#  docker-compose -f docker-compose.yml config check validate config
version: "3.8"
services:
  apache:
    image: "php:8.4-apache"
    container_name: apache
    working_dir: /var/www/html
    restart: "always"
    ports:
      - "80:80"
    expose:
      - "80"
    volumes:
      - ./web:/var/www/html
    labels:
      com.docker.compose.project: "apache"
      virtual.host: "your.domain.com"
      virtual.tls-email: your@email.com
      virtual.port: "80"
    environment:
      - TZ=Asia/Bangkok
    logging:
      driver: "json-file" # ใช้ json-file driver (default)
      options:
        max-size: "10m" # จำกัดขนาดของแต่ละไฟล์ log ไม่ให้เกิน 10MB
        max-file: "5" # เก็บไฟล์ log ไว้สูงสุด 5 ไฟล์
networks:
  default:
    external:
      name: proxy-network
