# docker-compose exec phpweb composer install
# docker-compose exec phpweb chmod 777 -R /srv/storage

version: "3.8"
services:
  phpweb: # this is your service
    image: "webhippie/php-caddy:latest"
    container_name: phpweb
    ports:
      - "8080:8080"
    labels:
      - "virtual.host=your_website.com"
      - "virtual.tls-email=your@email.com" # ssl is now on
      - "virtual.port=8080" # exposed port of this container
    environment:
      VIRTUAL_HOST: "your_website.com"
      VIRTUAL_PORT: "8080"
      LETSENCRYPT_HOST: "your_website.com"
      LETSENCRYPT_EMAIL: "your@email.com"
      ACME_AGREE: true
      TZ: Asia/Bangkok
    volumes:
      - ./:/srv
      - ./docker/Caddyfile:/etc/Caddyfile
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"

networks:
  default:
    external: true
    name: proxy-network
