/* layer: properties */
@supports ((-webkit-hyphens: none) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color:rgb(from red r g b)))){*, ::before, ::after, ::backdrop{--un-bg-opacity:100%;--un-border-opacity:100%;--un-text-opacity:100%;--un-ease:initial;--un-leading:initial;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-space-x-reverse:initial;--un-space-y-reverse:initial;}}
@property --un-text-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-leading{syntax:"*";inherits:false;}
@property --un-outline-style{syntax:"*";inherits:false;initial-value:solid;}
@property --un-border-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-bg-opacity{syntax:"<percentage>";inherits:false;initial-value:100%;}
@property --un-inset-ring-color{syntax:"*";inherits:false;}
@property --un-inset-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-inset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-inset-shadow-color{syntax:"*";inherits:false;}
@property --un-ring-color{syntax:"*";inherits:false;}
@property --un-ring-inset{syntax:"*";inherits:false;}
@property --un-ring-offset-color{syntax:"*";inherits:false;}
@property --un-ring-offset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-ring-offset-width{syntax:"<length>";inherits:false;initial-value:0px;}
@property --un-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000;}
@property --un-shadow-color{syntax:"*";inherits:false;}
@property --un-scale-x{syntax:"*";inherits:false;initial-value:1;}
@property --un-scale-y{syntax:"*";inherits:false;initial-value:1;}
@property --un-scale-z{syntax:"*";inherits:false;initial-value:1;}
@property --un-ease{syntax:"*";inherits:false;}
@property --un-blur{syntax:"*";inherits:false;}
@property --un-brightness{syntax:"*";inherits:false;}
@property --un-contrast{syntax:"*";inherits:false;}
@property --un-drop-shadow{syntax:"*";inherits:false;}
@property --un-grayscale{syntax:"*";inherits:false;}
@property --un-hue-rotate{syntax:"*";inherits:false;}
@property --un-invert{syntax:"*";inherits:false;}
@property --un-saturate{syntax:"*";inherits:false;}
@property --un-sepia{syntax:"*";inherits:false;}
@property --un-numeric-figure{syntax:"*";inherits:false;}
@property --un-numeric-fraction{syntax:"*";inherits:false;}
@property --un-numeric-spacing{syntax:"*";inherits:false;}
@property --un-ordinal{syntax:"*";inherits:false;}
@property --un-slashed-zero{syntax:"*";inherits:false;}
@property --un-space-x-reverse{syntax:"*";inherits:false;initial-value:0;}
@property --un-space-y-reverse{syntax:"*";inherits:false;initial-value:0;}
/* layer: theme */
:root, :host {
--radius-DEFAULT: 0.25rem;
--spacing: 0.25rem;
--fontWeight-bold: 700;
--colors-white: #fff;
--colors-red-DEFAULT: oklch(70.4% 0.191 22.216);
--colors-blue-DEFAULT: oklch(70.7% 0.165 254.624);
--text-sm-fontSize: 0.875rem;
--text-sm-lineHeight: 1.25rem;
--default-transition-timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
--default-transition-duration: 150ms;
--leading-none: 1;
--spacing-sm: 0.875rem;
--colors-red-300: oklch(80.8% 0.114 19.571);
--ease-DEFAULT: cubic-bezier(0.4, 0, 0.2, 1);
--ease-in: cubic-bezier(0.4, 0, 1, 1);
--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
--ease-out: cubic-bezier(0, 0, 0.2, 1);
--font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--colors-gray-DEFAULT: oklch(70.7% 0.022 261.325);
--text-lg-fontSize: 1.125rem;
--text-lg-lineHeight: 1.75rem;
--spacing-lg: 1.125rem;
--leading-tight: 1.25;
--radius-none: 0;
--radius-lg: 0.5rem;
--radius-sm: 0.25rem;
--container-lg: 32rem;
--leading-snug: 1.375;
--container-xs: 20rem;
--fontWeight-medium: 500;
--colors-blue-500: oklch(62.3% 0.214 259.815);
--colors-gray-200: oklch(92.8% 0.006 264.531);
--colors-gray-700: oklch(37.3% 0.034 259.733);
--colors-green-400: oklch(79.2% 0.209 151.711);
--colors-gray-500: oklch(55.1% 0.027 264.364);
--colors-green-500: oklch(72.3% 0.219 149.579);
--colors-gray-400: oklch(70.7% 0.022 261.325);
--colors-red-200: oklch(88.5% 0.062 18.334);
--colors-red-600: oklch(57.7% 0.245 27.325);
--colors-blue-400: oklch(70.7% 0.165 254.624);
--colors-purple-500: oklch(62.7% 0.265 303.9);
--colors-purple-200: oklch(90.2% 0.063 306.703);
--colors-purple-700: oklch(49.6% 0.265 301.924);
--colors-red-500: oklch(63.7% 0.237 25.331);
--colors-black: #000;
--colors-green-200: oklch(92.5% 0.084 155.995);
--colors-green-100: oklch(96.2% 0.044 156.743);
--colors-green-300: oklch(87.1% 0.15 154.449);
--colors-gray-800: oklch(27.8% 0.033 256.848);
--colors-purple-600: oklch(55.8% 0.288 302.321);
--colors-yellow-500: oklch(79.5% 0.184 86.047);
--colors-green-50: oklch(98.2% 0.018 155.826);
--colors-gray-50: oklch(98.5% 0.002 247.839);
--colors-green-600: oklch(62.7% 0.194 149.214);
--colors-red-400: oklch(70.4% 0.191 22.216);
--colors-yellow-400: oklch(85.2% 0.199 91.936);
--text-xs-fontSize: 0.75rem;
--text-xs-lineHeight: 1rem;
--colors-gray-100: oklch(96.7% 0.003 264.542);
--colors-gray-600: oklch(44.6% 0.03 256.802);
--colors-red-800: oklch(44.4% 0.177 26.899);
--colors-gray-900: oklch(21% 0.034 264.665);
--colors-blue-800: oklch(42.4% 0.199 265.638);
--colors-purple-300: oklch(82.7% 0.119 306.383);
--colors-gray-300: oklch(87.2% 0.01 258.338);
--colors-green-900: oklch(39.3% 0.095 152.535);
--colors-green-800: oklch(44.8% 0.119 151.328);
--colors-green-700: oklch(52.7% 0.154 150.069);
--colors-purple-400: oklch(71.4% 0.203 305.504);
--font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--default-font-family: var(--font-sans);
--default-monoFont-family: var(--font-mono);
}
/* layer: base */
/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove default margins and padding
  3. Reset all borders.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 2 */
  border: 0 solid; /* 3 */
}

/*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  6. Use the user's configured `sans` font-variation-settings by default.
  7. Disable tap highlights on iOS.
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  tab-size: 4; /* 3 */
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  ); /* 4 */
  font-feature-settings: var(--default-font-featureSettings, normal); /* 5 */
  font-variation-settings: var(--default-font-variationSettings, normal); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Reset the default border style to a 1px solid border.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
  Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
  Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
  Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/*
  Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
  1. Use the user's configured `mono` font-family by default.
  2. Use the user's configured `mono` font-feature-settings by default.
  3. Use the user's configured `mono` font-variation-settings by default.
  4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: var(
    --default-monoFont-family,
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace
  ); /* 1 */
  font-feature-settings: var(--default-monoFont-featureSettings, normal); /* 2 */
  font-variation-settings: var(--default-monoFont-variationSettings, normal); /* 3 */
  font-size: 1em; /* 4 */
}

/*
  Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
  Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
  Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
  Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
  Make lists unstyled by default.
*/

ol,
ul,
menu {
  list-style: none;
}

/*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  border-radius: 0; /* 2 */
  background-color: transparent; /* 3 */
  opacity: 1; /* 4 */
}

/*
  Restore default font weight.
*/

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/*
  Restore indentation.
*/

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/*
  Restore space after button.
*/

::file-selector-button {
  margin-inline-end: 4px;
}

/*
  Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/

::placeholder {
  opacity: 1;
}

/*
  Set the default placeholder color to a semi-transparent version of the current text color in browsers that do not
  crash when using `color-mix(…)` with `currentcolor`. (https://github.com/tailwindlabs/tailwindcss/issues/17194)
*/

@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
  (contain-intrinsic-size: 1px) /* Safari 17+ */ {
  ::placeholder {
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }
}

/*
  Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
  Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  1. Ensure date/time inputs have the same height when empty in iOS Safari.
  2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
*/

::-webkit-date-and-time-value {
  min-height: 1lh; /* 1 */
  text-align: inherit; /* 2 */
}

/*
  Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
*/

::-webkit-datetime-edit {
  display: inline-flex;
}

/*
  Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
*/

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/*
  Center dropdown marker shown on inputs with paired `<datalist>`s in Chrome. (https://github.com/tailwindlabs/tailwindcss/issues/18499)
*/

::-webkit-calendar-picker-indicator {
  line-height: 1;
}

/*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/

button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

/*
  Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 40rem){
.container{max-width:40rem;}
}
@media (min-width: 48rem){
.container{max-width:48rem;}
}
@media (min-width: 64rem){
.container{max-width:64rem;}
}
@media (min-width: 80rem){
.container{max-width:80rem;}
}
@media (min-width: 96rem){
.container{max-width:96rem;}
}
/* layer: default */
.text-lg{font-size:var(--text-lg-fontSize);line-height:var(--un-leading, var(--text-lg-lineHeight));}
.text-sm{font-size:var(--text-sm-fontSize);line-height:var(--un-leading, var(--text-sm-lineHeight));}
.text-xs{font-size:var(--text-xs-fontSize);line-height:var(--un-leading, var(--text-xs-lineHeight));}
.dark .dark\:text-gray-200{color:color-mix(in srgb, var(--colors-gray-200) var(--un-text-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.dark .dark\:text-gray-300{color:color-mix(in srgb, var(--colors-gray-300) var(--un-text-opacity), transparent) /* oklch(87.2% 0.01 258.338) */;}
.dark .dark\:text-gray-400,
.text-gray-400{color:color-mix(in srgb, var(--colors-gray-400) var(--un-text-opacity), transparent) /* oklch(70.7% 0.022 261.325) */;}
.dark .dark\:text-gray-600{color:color-mix(in srgb, var(--colors-gray-600) var(--un-text-opacity), transparent) /* oklch(44.6% 0.03 256.802) */;}
.dark .dark\:text-green-400,
.text-green-400{color:color-mix(in srgb, var(--colors-green-400) var(--un-text-opacity), transparent) /* oklch(79.2% 0.209 151.711) */;}
.dark .dark\:text-purple-300{color:color-mix(in srgb, var(--colors-purple-300) var(--un-text-opacity), transparent) /* oklch(82.7% 0.119 306.383) */;}
.dark .dark\:text-purple-400{color:color-mix(in srgb, var(--colors-purple-400) var(--un-text-opacity), transparent) /* oklch(71.4% 0.203 305.504) */;}
.dark .dark\:text-red-400{color:color-mix(in srgb, var(--colors-red-400) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.text-black{color:color-mix(in srgb, var(--colors-black) var(--un-text-opacity), transparent) /* #000 */;}
.text-blue-500{color:color-mix(in srgb, var(--colors-blue-500) var(--un-text-opacity), transparent) /* oklch(62.3% 0.214 259.815) */;}
.text-gray-500{color:color-mix(in srgb, var(--colors-gray-500) var(--un-text-opacity), transparent) /* oklch(55.1% 0.027 264.364) */;}
.text-gray-700{color:color-mix(in srgb, var(--colors-gray-700) var(--un-text-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.text-gray-800{color:color-mix(in srgb, var(--colors-gray-800) var(--un-text-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}
.text-green-500{color:color-mix(in srgb, var(--colors-green-500) var(--un-text-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.text-green-600{color:color-mix(in srgb, var(--colors-green-600) var(--un-text-opacity), transparent) /* oklch(62.7% 0.194 149.214) */;}
.text-purple-200{color:color-mix(in srgb, var(--colors-purple-200) var(--un-text-opacity), transparent) /* oklch(90.2% 0.063 306.703) */;}
.text-purple-500{color:color-mix(in srgb, var(--colors-purple-500) var(--un-text-opacity), transparent) /* oklch(62.7% 0.265 303.9) */;}
.text-purple-600{color:color-mix(in srgb, var(--colors-purple-600) var(--un-text-opacity), transparent) /* oklch(55.8% 0.288 302.321) */;}
.text-purple-700{color:color-mix(in srgb, var(--colors-purple-700) var(--un-text-opacity), transparent) /* oklch(49.6% 0.265 301.924) */;}
.text-red-300{color:color-mix(in srgb, var(--colors-red-300) var(--un-text-opacity), transparent) /* oklch(80.8% 0.114 19.571) */;}
.text-red-500{color:color-mix(in srgb, var(--colors-red-500) var(--un-text-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
.text-red-600{color:color-mix(in srgb, var(--colors-red-600) var(--un-text-opacity), transparent) /* oklch(57.7% 0.245 27.325) */;}
.text-white{color:color-mix(in srgb, var(--colors-white) var(--un-text-opacity), transparent) /* #fff */;}
.text-white\/60{color:color-mix(in srgb, var(--colors-white) 60%, transparent) /* #fff */;}
.text-yellow-500{color:color-mix(in srgb, var(--colors-yellow-500) var(--un-text-opacity), transparent) /* oklch(79.5% 0.184 86.047) */;}
.hover\:text-red:hover{color:color-mix(in srgb, var(--colors-red-DEFAULT) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.c-red{color:color-mix(in srgb, var(--colors-red-DEFAULT) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.leading-\[0\]{--un-leading:0;line-height:0;}
.leading-none{--un-leading:var(--leading-none);line-height:var(--leading-none);}
.leading-snug{--un-leading:var(--leading-snug);line-height:var(--leading-snug);}
.leading-tight{--un-leading:var(--leading-tight);line-height:var(--leading-tight);}
.font-bold{--un-font-weight:var(--fontWeight-bold);font-weight:var(--fontWeight-bold);}
.font-medium{--un-font-weight:var(--fontWeight-medium);font-weight:var(--fontWeight-medium);}
.font-mono{font-family:var(--font-mono);}
.tab{-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
.m\$1,
.m\$1\,{margin:var(--\31 );}
.m\$1\){margin:var(--\31 \));}
.m\[0\]{margin:0;}
.m0{margin:calc(var(--spacing) * 0);}
.m\[1\]{margin:1;}
.m1,
.m-1{margin:calc(var(--spacing) * 1);}
.m11{margin:calc(var(--spacing) * 11);}
.m12{margin:calc(var(--spacing) * 12);}
.m128{margin:calc(var(--spacing) * 128);}
.m13{margin:calc(var(--spacing) * 13);}
.m\[14\]{margin:14;}
.m14{margin:calc(var(--spacing) * 14);}
.m\[19\]{margin:19;}
.m\[2\]{margin:2;}
.m2{margin:calc(var(--spacing) * 2);}
.m\[20\]{margin:20;}
.m21{margin:calc(var(--spacing) * 21);}
.m22{margin:calc(var(--spacing) * 22);}
.m23{margin:calc(var(--spacing) * 23);}
.m24{margin:calc(var(--spacing) * 24);}
.m\[3\]{margin:3;}
.m3{margin:calc(var(--spacing) * 3);}
.m31{margin:calc(var(--spacing) * 31);}
.m32{margin:calc(var(--spacing) * 32);}
.m33{margin:calc(var(--spacing) * 33);}
.m34{margin:calc(var(--spacing) * 34);}
.m\[4\]{margin:4;}
.m41{margin:calc(var(--spacing) * 41);}
.m42{margin:calc(var(--spacing) * 42);}
.m43{margin:calc(var(--spacing) * 43);}
.m44{margin:calc(var(--spacing) * 44);}
.m64{margin:calc(var(--spacing) * 64);}
.m8\.25{margin:calc(var(--spacing) * 8.25);}
.m\[9\]{margin:9;}
.m9{margin:calc(var(--spacing) * 9);}
.ma,
.maa{margin:auto;}
.malg{margin:var(--spacing-lg);}
.m\[e\[r\]\|\|\"\"\]{margin:e[r]||"";}
.m\[half\]{margin:half;}
.m\[i\]{margin:i;}
.m\[j\]{margin:j;}
.msm{margin:var(--spacing-sm);}
.children\:my-auto>*,
.mya{margin-block:auto;}
.mx-1{margin-inline:calc(var(--spacing) * 1);}
.-mx-2{margin-inline:calc(calc(var(--spacing) * 2) * -1);}
.my-0\.5{margin-block:calc(var(--spacing) * 0.5);}
.my-1{margin-block:calc(var(--spacing) * 1);}
.my-2{margin-block:calc(var(--spacing) * 2);}
.mb-2{margin-bottom:calc(var(--spacing) * 2);}
.mb-3{margin-bottom:calc(var(--spacing) * 3);}
.mb-4{margin-bottom:calc(var(--spacing) * 4);}
.mb-6{margin-bottom:calc(var(--spacing) * 6);}
.me\[e\]{margin-inline-end:e;}
.melg{margin-inline-end:var(--spacing-lg);}
.ml-1{margin-left:calc(var(--spacing) * 1);}
.ml-2{margin-left:calc(var(--spacing) * 2);}
.ml-3{margin-left:calc(var(--spacing) * 3);}
.mr-1{margin-right:calc(var(--spacing) * 1);}
.mr-2{margin-right:calc(var(--spacing) * 2);}
.ms\$1{margin-inline-start:var(--\31 );}
.ms932{margin-inline-start:calc(var(--spacing) * 932);}
.mt-1{margin-top:calc(var(--spacing) * 1);}
.mt-2{margin-top:calc(var(--spacing) * 2);}
.p\[0\]{padding:0;}
.p0,
.p-0{padding:calc(var(--spacing) * 0);}
.p-0\.5{padding:calc(var(--spacing) * 0.5);}
.p1,
.p-1{padding:calc(var(--spacing) * 1);}
.p10{padding:calc(var(--spacing) * 10);}
.p12,
.p-12{padding:calc(var(--spacing) * 12);}
.p2,
.p-2{padding:calc(var(--spacing) * 2);}
.p3{padding:calc(var(--spacing) * 3);}
.p4{padding:calc(var(--spacing) * 4);}
.p-5,
.p5{padding:calc(var(--spacing) * 5);}
.p6,
.p-6{padding:calc(var(--spacing) * 6);}
.p8,
.p-8{padding:calc(var(--spacing) * 8);}
.pa,
.paa{padding:auto;}
.palg{padding:var(--spacing-lg);}
.p\[\'fresh\'\]{padding:'fresh';}
.p\[\'naf\'\]{padding:'naf';}
.p\[\'nafwidth\'\]{padding:'nafwidth';}
.p\[\"number-rows-repeated\"\]{padding:"number-rows-repeated";}
.p\[\"office\:boolean-value\"\]{padding:"office:boolean-value";}
.p\[\"office\:date-value\"\]{padding:"office:date-value";}
.p\[\"office\:value\"\]{padding:"office:value";}
.p\[\"office\:value-type\"\]{padding:"office:value-type";}
.p\[p\.length-1\]{padding:p.length-1;}
.p\[\"table\:number-matrix-columns-spanned\"\]{padding:"table:number-matrix-columns-spanned";}
.p\[\"table\:number-matrix-rows-spanned\"\]{padding:"table:number-matrix-rows-spanned";}
.p\[\"table\:style-name\"\]{padding:"table:style-name";}
.px-1{padding-inline:calc(var(--spacing) * 1);}
.px-1\.5{padding-inline:calc(var(--spacing) * 1.5);}
.px-2{padding-inline:calc(var(--spacing) * 2);}
.px-3{padding-inline:calc(var(--spacing) * 3);}
.px-4{padding-inline:calc(var(--spacing) * 4);}
.px-6{padding-inline:calc(var(--spacing) * 6);}
.px-8{padding-inline:calc(var(--spacing) * 8);}
.py-0{padding-block:calc(var(--spacing) * 0);}
.py-0\.5{padding-block:calc(var(--spacing) * 0.5);}
.py-1{padding-block:calc(var(--spacing) * 1);}
.py-1\.5{padding-block:calc(var(--spacing) * 1.5);}
.py-2{padding-block:calc(var(--spacing) * 2);}
.py-4{padding-block:calc(var(--spacing) * 4);}
.py-6{padding-block:calc(var(--spacing) * 6);}
.pya{padding-block:auto;}
.pb-2{padding-bottom:calc(var(--spacing) * 2);}
.pb-4{padding-bottom:calc(var(--spacing) * 4);}
.pb-8{padding-bottom:calc(var(--spacing) * 8);}
.pea{padding-inline-end:auto;}
.pelg{padding-inline-end:var(--spacing-lg);}
.pl-3{padding-left:calc(var(--spacing) * 3);}
.pl-4{padding-left:calc(var(--spacing) * 4);}
.pr-1{padding-right:calc(var(--spacing) * 1);}
.pr-2{padding-right:calc(var(--spacing) * 2);}
.ps1{padding-inline-start:calc(var(--spacing) * 1);}
.ps2{padding-inline-start:calc(var(--spacing) * 2);}
.ps\[i\]{padding-inline-start:i;}
.pt-4{padding-top:calc(var(--spacing) * 4);}
.pt-6{padding-top:calc(var(--spacing) * 6);}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-justify{text-align:justify;}
.appearance-none{-webkit-appearance:none;appearance:none;}
.outline{outline-style:var(--un-outline-style);outline-width:1px;}
.outline-none{--un-outline-style:none;outline-style:none;}
.b,
.border{border-width:1px;}
.-b{border-width:-1px;}
.border-2{border-width:2px;}
.b-l{border-left-width:1px;}
.border-b{border-bottom-width:1px;}
.border-b-0{border-bottom-width:0px;}
.border-l-0{border-left-width:0px;}
.border-r{border-right-width:1px;}
.border-r-0{border-right-width:0px;}
.border-t{border-top-width:1px;}
.border-t-0{border-top-width:0px;}
.border-block{border-block-start-width:1px;border-block-end-width:1px;}
.border-inline{border-inline-start-width:1px;border-inline-end-width:1px;}
.border-gray-200{border-color:color-mix(in srgb, var(--colors-gray-200) var(--un-border-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.border-green-200{border-color:color-mix(in srgb, var(--colors-green-200) var(--un-border-opacity), transparent) /* oklch(92.5% 0.084 155.995) */;}
.border-red{border-color:color-mix(in srgb, var(--colors-red-DEFAULT) var(--un-border-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.border-transparent{border-color:transparent;}
.dark .dark\:border-gray-600{border-color:color-mix(in srgb, var(--colors-gray-600) var(--un-border-opacity), transparent) /* oklch(44.6% 0.03 256.802) */;}
.dark .dark\:border-gray-700{border-color:color-mix(in srgb, var(--colors-gray-700) var(--un-border-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.dark .dark\:border-green-800{border-color:color-mix(in srgb, var(--colors-green-800) var(--un-border-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.rd,
.rounded{border-radius:var(--radius-DEFAULT);}
.rounded-full{border-radius:calc(infinity * 1px);}
.rounded-lg{border-radius:var(--radius-lg);}
.rounded-sm{border-radius:var(--radius-sm);}
.rounded-b-none{border-bottom-left-radius:var(--radius-none);border-bottom-right-radius:var(--radius-none);}
.rounded-l-none{border-top-left-radius:var(--radius-none);border-bottom-left-radius:var(--radius-none);}
.rounded-r-none{border-top-right-radius:var(--radius-none);border-bottom-right-radius:var(--radius-none);}
.rounded-t-none{border-top-left-radius:var(--radius-none);border-top-right-radius:var(--radius-none);}
.bg-blue{background-color:color-mix(in srgb, var(--colors-blue-DEFAULT) var(--un-bg-opacity), transparent) /* oklch(70.7% 0.165 254.624) */;}
.bg-blue-400{background-color:color-mix(in srgb, var(--colors-blue-400) var(--un-bg-opacity), transparent) /* oklch(70.7% 0.165 254.624) */;}
.bg-gray\/10{background-color:color-mix(in srgb, var(--colors-gray-DEFAULT) 10%, transparent) /* oklch(70.7% 0.022 261.325) */;}
.bg-gray-200,
.dark .dark\:bg-gray-200{background-color:color-mix(in srgb, var(--colors-gray-200) var(--un-bg-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.bg-gray-50{background-color:color-mix(in srgb, var(--colors-gray-50) var(--un-bg-opacity), transparent) /* oklch(98.5% 0.002 247.839) */;}
.bg-gray-500{background-color:color-mix(in srgb, var(--colors-gray-500) var(--un-bg-opacity), transparent) /* oklch(55.1% 0.027 264.364) */;}
.bg-gray-700{background-color:color-mix(in srgb, var(--colors-gray-700) var(--un-bg-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.bg-green-100{background-color:color-mix(in srgb, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
.bg-green-200{background-color:color-mix(in srgb, var(--colors-green-200) var(--un-bg-opacity), transparent) /* oklch(92.5% 0.084 155.995) */;}
.bg-green-300{background-color:color-mix(in srgb, var(--colors-green-300) var(--un-bg-opacity), transparent) /* oklch(87.1% 0.15 154.449) */;}
.bg-green-400{background-color:color-mix(in srgb, var(--colors-green-400) var(--un-bg-opacity), transparent) /* oklch(79.2% 0.209 151.711) */;}
.bg-green-50{background-color:color-mix(in srgb, var(--colors-green-50) var(--un-bg-opacity), transparent) /* oklch(98.2% 0.018 155.826) */;}
.bg-green-500{background-color:color-mix(in srgb, var(--colors-green-500) var(--un-bg-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.bg-red-200{background-color:color-mix(in srgb, var(--colors-red-200) var(--un-bg-opacity), transparent) /* oklch(88.5% 0.062 18.334) */;}
.bg-red-400{background-color:color-mix(in srgb, var(--colors-red-400) var(--un-bg-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.bg-red-500{background-color:color-mix(in srgb, var(--colors-red-500) var(--un-bg-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
.bg-white{background-color:color-mix(in srgb, var(--colors-white) var(--un-bg-opacity), transparent) /* #fff */;}
.bg-yellow-400{background-color:color-mix(in srgb, var(--colors-yellow-400) var(--un-bg-opacity), transparent) /* oklch(85.2% 0.199 91.936) */;}
.dark .dark\:bg-black{background-color:color-mix(in srgb, var(--colors-black) var(--un-bg-opacity), transparent) /* #000 */;}
.dark .dark\:bg-blue-800{background-color:color-mix(in srgb, var(--colors-blue-800) var(--un-bg-opacity), transparent) /* oklch(42.4% 0.199 265.638) */;}
.dark .dark\:bg-gray-800{background-color:color-mix(in srgb, var(--colors-gray-800) var(--un-bg-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}
.dark .dark\:bg-gray-900{background-color:color-mix(in srgb, var(--colors-gray-900) var(--un-bg-opacity), transparent) /* oklch(21% 0.034 264.665) */;}
.dark .dark\:bg-green-700{background-color:color-mix(in srgb, var(--colors-green-700) var(--un-bg-opacity), transparent) /* oklch(52.7% 0.154 150.069) */;}
.dark .dark\:bg-green-800{background-color:color-mix(in srgb, var(--colors-green-800) var(--un-bg-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.dark .dark\:bg-green-900{background-color:color-mix(in srgb, var(--colors-green-900) var(--un-bg-opacity), transparent) /* oklch(39.3% 0.095 152.535) */;}
.dark .dark\:bg-red-800{background-color:color-mix(in srgb, var(--colors-red-800) var(--un-bg-opacity), transparent) /* oklch(44.4% 0.177 26.899) */;}
.dark .dark\:hover\:bg-gray-900:hover{background-color:color-mix(in srgb, var(--colors-gray-900) var(--un-bg-opacity), transparent) /* oklch(21% 0.034 264.665) */;}
.dark .dark\:hover\:bg-green-800:hover{background-color:color-mix(in srgb, var(--colors-green-800) var(--un-bg-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.dark .dark\:hover\:bg-green-900:hover{background-color:color-mix(in srgb, var(--colors-green-900) var(--un-bg-opacity), transparent) /* oklch(39.3% 0.095 152.535) */;}
.hover\:bg-gray-100:hover{background-color:color-mix(in srgb, var(--colors-gray-100) var(--un-bg-opacity), transparent) /* oklch(96.7% 0.003 264.542) */;}
.hover\:bg-green-100:hover{background-color:color-mix(in srgb, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
.hover\:bg-green-500:hover{background-color:color-mix(in srgb, var(--colors-green-500) var(--un-bg-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.hover\:bg-green-50:hover{background-color:color-mix(in srgb, var(--colors-green-50) var(--un-bg-opacity), transparent) /* oklch(98.2% 0.018 155.826) */;}
.bg-opacity-75,
.dark .dark\:bg-opacity-75{--un-bg-opacity:75%;}
.hover\:bg-opacity-25:hover{--un-bg-opacity:25%;}
.op10{opacity:10%;}
.op-30,
.opacity-30{opacity:30%;}
.op50,
.opacity-50{opacity:50%;}
.op60{opacity:60%;}
.op80{opacity:80%;}
.opacity-100{opacity:100%;}
.opacity-25{opacity:25%;}
.opacity-40{opacity:40%;}
.opacity-70{opacity:70%;}
.opacity-75{opacity:75%;}
.hover\:op100:hover{opacity:100%;}
.hover\:opacity-100:hover{opacity:100%;}
.hover\:opacity-80:hover{opacity:80%;}
.scheme-based{color-scheme:based;}
.scheme-relative{color-scheme:relative;}
.scheme-specific{color-scheme:specific;}
.line-through{text-decoration-line:line-through;}
.overline{text-decoration-line:overline;}
.underline{text-decoration-line:underline;}
.hover\:underline:hover{text-decoration-line:underline;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-1{flex:1 1 0%;}
.flex-auto{flex:1 1 auto;}
.flex-none{flex:none;}
.flex-shrink,
.shrink{flex-shrink:1;}
.flex-grow,
.grow{flex-grow:1;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.gap-2{gap:calc(var(--spacing) * 2);}
.gap-3{gap:calc(var(--spacing) * 3);}
.gap-4{gap:calc(var(--spacing) * 4);}
.gap-8{gap:calc(var(--spacing) * 8);}
.grid{display:grid;}
.inline-grid{display:inline-grid;}
.row-span-3{grid-row:span 3/span 3;}
.rows-\[max-content_1fr\]{grid-template-rows:max-content 1fr;}
.cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.cols-4{grid-template-columns:repeat(4,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.h\$1,
.h\$1\,{height:var(--\31 );}
.h\$1\){height:var(--\31 \));}
.h0{height:calc(var(--spacing) * 0);}
.h1,
.h-1{height:calc(var(--spacing) * 1);}
.h-10{height:calc(var(--spacing) * 10);}
.h-16{height:calc(var(--spacing) * 16);}
.h2{height:calc(var(--spacing) * 2);}
.h-20{height:calc(var(--spacing) * 20);}
.h-2\.5{height:calc(var(--spacing) * 2.5);}
.h261{height:calc(var(--spacing) * 261);}
.h263{height:calc(var(--spacing) * 263);}
.h264{height:calc(var(--spacing) * 264);}
.h3,
.h-3{height:calc(var(--spacing) * 3);}
.h-\[31px\]{height:31px;}
.h4,
.h-4{height:calc(var(--spacing) * 4);}
.h5,
.h-5{height:calc(var(--spacing) * 5);}
.h6,
.h-6{height:calc(var(--spacing) * 6);}
.h7{height:calc(var(--spacing) * 7);}
.h-8{height:calc(var(--spacing) * 8);}
.ha{height:auto;}
.h\[\"\!comments\"\]{height:"!comments";}
.h\[\"delete\"\]{height:"delete";}
.h-full{height:100%;}
.h\[\"\!legacy\"\]{height:"!legacy";}
.hmax,
.h-\[max-content\]{height:max-content;}
.h\[n\[r\]\|\|\"\"\]{height:n[r]||"";}
.h-screen{height:100vh;}
.h\[\'stream_type\'\]{height:'stream type';}
.h\[\'wrapper_type\'\]{height:'wrapper type';}
.max-h-\[24px\]{max-height:24px;}
.max-h-32{max-height:calc(var(--spacing) * 32);}
.max-h-48{max-height:calc(var(--spacing) * 48);}
.max-w-\[200px\]{max-width:200px;}
.max-w-\[24px\]{max-width:24px;}
.max-w-lg{max-width:var(--container-lg);}
.max-w-xs{max-width:var(--container-xs);}
.\!min-w-0{min-width:calc(var(--spacing) * 0) !important;}
.min-w-max{min-width:max-content;}
.w\[\+\+i\]{width:++i;}
.w\[0\]{width:0;}
.w-0{width:calc(var(--spacing) * 0);}
.w\[1\]{width:1;}
.w-1{width:calc(var(--spacing) * 1);}
.w-10{width:calc(var(--spacing) * 10);}
.w-1\/2{width:50%;}
.w-16{width:calc(var(--spacing) * 16);}
.w\[2\]{width:2;}
.w-20{width:calc(var(--spacing) * 20);}
.w-2\.5{width:calc(var(--spacing) * 2.5);}
.w\[3\]{width:3;}
.w-3{width:calc(var(--spacing) * 3);}
.w-4{width:calc(var(--spacing) * 4);}
.w-5{width:calc(var(--spacing) * 5);}
.w-6{width:calc(var(--spacing) * 6);}
.w-8{width:calc(var(--spacing) * 8);}
.w-96{width:calc(var(--spacing) * 96);}
.wa{width:auto;}
.w-full{width:100%;}
.w\[i\]{width:i;}
.w-screen{width:100vw;}
.w\[wi\]{width:wi;}
.inline{display:inline;}
.block{display:block;}
.\!block{display:block !important;}
.inline-block{display:inline-block;}
.contents{display:contents;}
.hover-contents:hover{display:contents;}
.flow-root{display:flow-root;}
.list-item{display:list-item;}
.hidden{display:none;}
.visible,
.group:hover .group-hover\:visible{visibility:visible;}
.invisible{visibility:hidden;}
.collapse{visibility:collapse;}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-move{cursor:move;}
.cursor-ew-resize{cursor:ew-resize;}
.cursor-ns-resize{cursor:ns-resize;}
.pointer-events-auto{pointer-events:auto;}
.pointer-events-none{pointer-events:none;}
.resize{resize:both;}
.select-all{-webkit-user-select:all;user-select:all;}
.select-none{-webkit-user-select:none;user-select:none;}
.whitespace-nowrap,
.ws-nowrap{white-space:nowrap;}
.whitespace-pre-wrap{white-space:pre-wrap;}
.ws-pre{white-space:pre;}
.break-words{overflow-wrap:break-word;}
.break-all{word-break:break-all;}
.text-wrap{text-wrap:wrap;}
.truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.italic{font-style:italic;}
.oblique{font-style:oblique;}
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.subpixel-antialiased{-webkit-font-smoothing:auto;-moz-osx-font-smoothing:auto;}
.ring{--un-ring-shadow:var(--un-ring-inset,) 0 0 0 calc(1px + var(--un-ring-offset-width)) var(--un-ring-color, currentColor);box-shadow:var(--un-inset-shadow), var(--un-inset-ring-shadow), var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow,
.shadowed_core\/node_modules\/util\/index\.js{--un-shadow:0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-inset-shadow), var(--un-inset-ring-shadow), var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-lg{--un-shadow:0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-inset-shadow), var(--un-inset-ring-shadow), var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-md{--un-shadow:0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-inset-shadow), var(--un-inset-ring-shadow), var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.rotate-90{rotate:90deg;}
.scale-0{--un-scale-x:0%;--un-scale-y:0%;scale:var(--un-scale-x) var(--un-scale-y);}
.transform{transform:var(--un-rotate-x) var(--un-rotate-y) var(--un-rotate-z) var(--un-skew-x) var(--un-skew-y);}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,--un-gradient-from,--un-gradient-via,--un-gradient-to,opacity,box-shadow,transform,translate,scale,rotate,filter,-webkit-backdrop-filter,backdrop-filter;transition-timing-function:var(--un-ease, var(--default-transition-timingFunction));transition-duration:var(--un-duration, var(--default-transition-duration));}
.transition-colors{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,--un-gradient-from,--un-gradient-via,--un-gradient-to;transition-timing-function:var(--un-ease, var(--default-transition-timingFunction));transition-duration:var(--un-duration, var(--default-transition-duration));}
.transition-transform{transition-property:transform,translate,scale,rotate;transition-timing-function:var(--un-ease, var(--default-transition-timingFunction));transition-duration:var(--un-duration, var(--default-transition-duration));}
.duration-150{--un-duration:150ms;transition-duration:150ms;}
.duration-300{--un-duration:300ms;transition-duration:300ms;}
.delay-150{transition-delay:150ms;}
.ease{--un-ease:var(--ease-DEFAULT);transition-timing-function:var(--ease-DEFAULT);}
.ease-in{--un-ease:var(--ease-in);transition-timing-function:var(--ease-in);}
.ease-in-out{--un-ease:var(--ease-in-out);transition-timing-function:var(--ease-in-out);}
.ease-out{--un-ease:var(--ease-out);transition-timing-function:var(--ease-out);}
.\[CIRCULAR\:\"\+objectNumber\+\"\]{CIRCULAR:"+objectNumber+";}
.\[vite\:css\]{vite:css;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.items-baseline{align-items:baseline;}
.items-stretch{align-items:stretch;}
.self-start{align-self:flex-start;}
.self-end{align-self:flex-end;}
.box-content{box-sizing:content-box;}
.inset-0{inset:calc(var(--spacing) * 0);}
.inset-0\.5{inset:calc(var(--spacing) * 0.5);}
.inset-2\.5{inset:calc(var(--spacing) * 2.5);}
.bottom-0{bottom:calc(var(--spacing) * 0);}
.bottom-1{bottom:calc(var(--spacing) * 1);}
.left-0{left:calc(var(--spacing) * 0);}
.right-0{right:calc(var(--spacing) * 0);}
.right-4{right:calc(var(--spacing) * 4);}
.top-0{top:calc(var(--spacing) * 0);}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.\!fixed{position:fixed !important;}
.relative{position:relative;}
.sticky{position:sticky;}
.static{position:static;}
.z-10{z-index:10;}
.z-100{z-index:100;}
.z-\[101\]{z-index:101;}
.of-hidden,
.overflow-hidden{overflow:hidden;}
.overflow-auto{overflow:auto;}
.overflow-x-auto{overflow-x:auto;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-auto{overflow-y:auto;}
@keyframes pulse{0%, 100% {opacity:1} 50% {opacity:.5}}
.animate-pulse{animation:pulse 2s cubic-bezier(0.4,0,.6,1) infinite;}
.isolate{isolation:isolate;}
.mask-repeat{mask-repeat:repeat;}
.blur{--un-blur:blur(8px);filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.drop-shadow{--un-drop-shadow:drop-shadow(0 1px 2px var(--un-drop-shadow-color, rgb(0 0 0 / 0.1))) drop-shadow(0 1px 1px var(--un-drop-shadow-color, rgb(0 0 0 / 0.06)));filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.grayscale{--un-grayscale:grayscale(100%);filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.dark .dark\:invert,
.invert{--un-invert:invert(100%);filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.sepia{--un-sepia:sepia(100%);filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.filter{filter:var(--un-blur,) var(--un-brightness,) var(--un-contrast,) var(--un-grayscale,) var(--un-hue-rotate,) var(--un-invert,) var(--un-saturate,) var(--un-sepia,) var(--un-drop-shadow,);}
.backdrop-filter{-webkit-backdrop-filter:var(--un-backdrop-blur,) var(--un-backdrop-brightness,) var(--un-backdrop-contrast,) var(--un-backdrop-grayscale,) var(--un-backdrop-hue-rotate,) var(--un-backdrop-invert,) var(--un-backdrop-opacity,) var(--un-backdrop-saturate,) var(--un-backdrop-sepia,);backdrop-filter:var(--un-backdrop-blur,) var(--un-backdrop-brightness,) var(--un-backdrop-contrast,) var(--un-backdrop-grayscale,) var(--un-backdrop-hue-rotate,) var(--un-backdrop-invert,) var(--un-backdrop-opacity,) var(--un-backdrop-saturate,) var(--un-backdrop-sepia,);}
.inline-table{display:inline-table;}
.selection-table::selection,
.selection-table *::selection,
.table{display:table;}
.table-caption{display:table-caption;}
.table-cell{display:table-cell;}
.table-column{display:table-column;}
.table-column-group{display:table-column-group;}
.table-footer-group{display:table-footer-group;}
.table-header-group{display:table-header-group;}
.table-row{display:table-row;}
.table-row-group{display:table-row-group;}
.border-collapse{border-collapse:collapse;}
.ordinal{--un-ordinal:ordinal;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.slashed-zero{--un-slashed-zero:slashed-zero;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.lining-nums{--un-numeric-figure:lining-nums;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.oldstyle-nums{--un-numeric-figure:oldstyle-nums;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.proportional-nums{--un-numeric-spacing:proportional-nums;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.tabular-nums{--un-numeric-spacing:tabular-nums;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.diagonal-fractions{--un-numeric-fraction:diagonal-fractions;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.stacked-fractions{--un-numeric-fraction:stacked-fractions;font-variant-numeric:var(--un-ordinal,) var(--un-slashed-zero,) var(--un-numeric-figure,) var(--un-numeric-spacing,) var(--un-numeric-fraction,);}
.space-x-0\.5{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 0.5) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 0.5) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-1{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 1) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-2{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 2) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 2) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-3{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 3) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-4{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 4) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-6{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 6) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--un-space-x-reverse)));}
}
.space-x-8{
:where(&>:not(:last-child)){--un-space-x-reverse:0;margin-inline-start: calc(calc(var(--spacing) * 8) * var(--un-space-x-reverse));margin-inline-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--un-space-x-reverse)));}
}
.space-y-1{
:where(&>:not(:last-child)){--un-space-y-reverse:0;margin-block-start: calc(calc(var(--spacing) * 1) * var(--un-space-y-reverse));margin-block-end: calc(calc(var(--spacing) * 1) * calc(1 - var(--un-space-y-reverse)));}
}
.space-y-4{
:where(&>:not(:last-child)){--un-space-y-reverse:0;margin-block-start: calc(calc(var(--spacing) * 4) * var(--un-space-y-reverse));margin-block-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--un-space-y-reverse)));}
}
.space-y-6{
:where(&>:not(:last-child)){--un-space-y-reverse:0;margin-block-start: calc(calc(var(--spacing) * 6) * var(--un-space-y-reverse));margin-block-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--un-space-y-reverse)));}
}
.space-y-8{
:where(&>:not(:last-child)){--un-space-y-reverse:0;margin-block-start: calc(calc(var(--spacing) * 8) * var(--un-space-y-reverse));margin-block-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--un-space-y-reverse)));}
}
@supports (color: color-mix(in lab, red, red)){
.dark .dark\:text-gray-200{color:color-mix(in oklab, var(--colors-gray-200) var(--un-text-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.dark .dark\:text-gray-300{color:color-mix(in oklab, var(--colors-gray-300) var(--un-text-opacity), transparent) /* oklch(87.2% 0.01 258.338) */;}
.dark .dark\:text-gray-400{color:color-mix(in oklab, var(--colors-gray-400) var(--un-text-opacity), transparent) /* oklch(70.7% 0.022 261.325) */;}
.dark .dark\:text-gray-600{color:color-mix(in oklab, var(--colors-gray-600) var(--un-text-opacity), transparent) /* oklch(44.6% 0.03 256.802) */;}
.dark .dark\:text-green-400{color:color-mix(in oklab, var(--colors-green-400) var(--un-text-opacity), transparent) /* oklch(79.2% 0.209 151.711) */;}
.dark .dark\:text-purple-300{color:color-mix(in oklab, var(--colors-purple-300) var(--un-text-opacity), transparent) /* oklch(82.7% 0.119 306.383) */;}
.dark .dark\:text-purple-400{color:color-mix(in oklab, var(--colors-purple-400) var(--un-text-opacity), transparent) /* oklch(71.4% 0.203 305.504) */;}
.dark .dark\:text-red-400{color:color-mix(in oklab, var(--colors-red-400) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.text-black{color:color-mix(in oklab, var(--colors-black) var(--un-text-opacity), transparent) /* #000 */;}
.text-blue-500{color:color-mix(in oklab, var(--colors-blue-500) var(--un-text-opacity), transparent) /* oklch(62.3% 0.214 259.815) */;}
.text-gray-400{color:color-mix(in oklab, var(--colors-gray-400) var(--un-text-opacity), transparent) /* oklch(70.7% 0.022 261.325) */;}
.text-gray-500{color:color-mix(in oklab, var(--colors-gray-500) var(--un-text-opacity), transparent) /* oklch(55.1% 0.027 264.364) */;}
.text-gray-700{color:color-mix(in oklab, var(--colors-gray-700) var(--un-text-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.text-gray-800{color:color-mix(in oklab, var(--colors-gray-800) var(--un-text-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}
.text-green-400{color:color-mix(in oklab, var(--colors-green-400) var(--un-text-opacity), transparent) /* oklch(79.2% 0.209 151.711) */;}
.text-green-500{color:color-mix(in oklab, var(--colors-green-500) var(--un-text-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.text-green-600{color:color-mix(in oklab, var(--colors-green-600) var(--un-text-opacity), transparent) /* oklch(62.7% 0.194 149.214) */;}
.text-purple-200{color:color-mix(in oklab, var(--colors-purple-200) var(--un-text-opacity), transparent) /* oklch(90.2% 0.063 306.703) */;}
.text-purple-500{color:color-mix(in oklab, var(--colors-purple-500) var(--un-text-opacity), transparent) /* oklch(62.7% 0.265 303.9) */;}
.text-purple-600{color:color-mix(in oklab, var(--colors-purple-600) var(--un-text-opacity), transparent) /* oklch(55.8% 0.288 302.321) */;}
.text-purple-700{color:color-mix(in oklab, var(--colors-purple-700) var(--un-text-opacity), transparent) /* oklch(49.6% 0.265 301.924) */;}
.text-red-300{color:color-mix(in oklab, var(--colors-red-300) var(--un-text-opacity), transparent) /* oklch(80.8% 0.114 19.571) */;}
.text-red-500{color:color-mix(in oklab, var(--colors-red-500) var(--un-text-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
.text-red-600{color:color-mix(in oklab, var(--colors-red-600) var(--un-text-opacity), transparent) /* oklch(57.7% 0.245 27.325) */;}
.text-white{color:color-mix(in oklab, var(--colors-white) var(--un-text-opacity), transparent) /* #fff */;}
.text-white\/60{color:color-mix(in oklab, var(--colors-white) 60%, transparent) /* #fff */;}
.text-yellow-500{color:color-mix(in oklab, var(--colors-yellow-500) var(--un-text-opacity), transparent) /* oklch(79.5% 0.184 86.047) */;}
.hover\:text-red:hover{color:color-mix(in oklab, var(--colors-red-DEFAULT) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.c-red{color:color-mix(in oklab, var(--colors-red-DEFAULT) var(--un-text-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.border-gray-200{border-color:color-mix(in oklab, var(--colors-gray-200) var(--un-border-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.border-green-200{border-color:color-mix(in oklab, var(--colors-green-200) var(--un-border-opacity), transparent) /* oklch(92.5% 0.084 155.995) */;}
.border-red{border-color:color-mix(in oklab, var(--colors-red-DEFAULT) var(--un-border-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.dark .dark\:border-gray-600{border-color:color-mix(in oklab, var(--colors-gray-600) var(--un-border-opacity), transparent) /* oklch(44.6% 0.03 256.802) */;}
.dark .dark\:border-gray-700{border-color:color-mix(in oklab, var(--colors-gray-700) var(--un-border-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.dark .dark\:border-green-800{border-color:color-mix(in oklab, var(--colors-green-800) var(--un-border-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.bg-blue{background-color:color-mix(in oklab, var(--colors-blue-DEFAULT) var(--un-bg-opacity), transparent) /* oklch(70.7% 0.165 254.624) */;}
.bg-blue-400{background-color:color-mix(in oklab, var(--colors-blue-400) var(--un-bg-opacity), transparent) /* oklch(70.7% 0.165 254.624) */;}
.bg-gray\/10{background-color:color-mix(in oklab, var(--colors-gray-DEFAULT) 10%, transparent) /* oklch(70.7% 0.022 261.325) */;}
.bg-gray-200{background-color:color-mix(in oklab, var(--colors-gray-200) var(--un-bg-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.bg-gray-50{background-color:color-mix(in oklab, var(--colors-gray-50) var(--un-bg-opacity), transparent) /* oklch(98.5% 0.002 247.839) */;}
.bg-gray-500{background-color:color-mix(in oklab, var(--colors-gray-500) var(--un-bg-opacity), transparent) /* oklch(55.1% 0.027 264.364) */;}
.bg-gray-700{background-color:color-mix(in oklab, var(--colors-gray-700) var(--un-bg-opacity), transparent) /* oklch(37.3% 0.034 259.733) */;}
.bg-green-100{background-color:color-mix(in oklab, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
.bg-green-200{background-color:color-mix(in oklab, var(--colors-green-200) var(--un-bg-opacity), transparent) /* oklch(92.5% 0.084 155.995) */;}
.bg-green-300{background-color:color-mix(in oklab, var(--colors-green-300) var(--un-bg-opacity), transparent) /* oklch(87.1% 0.15 154.449) */;}
.bg-green-400{background-color:color-mix(in oklab, var(--colors-green-400) var(--un-bg-opacity), transparent) /* oklch(79.2% 0.209 151.711) */;}
.bg-green-50{background-color:color-mix(in oklab, var(--colors-green-50) var(--un-bg-opacity), transparent) /* oklch(98.2% 0.018 155.826) */;}
.bg-green-500{background-color:color-mix(in oklab, var(--colors-green-500) var(--un-bg-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.bg-red-200{background-color:color-mix(in oklab, var(--colors-red-200) var(--un-bg-opacity), transparent) /* oklch(88.5% 0.062 18.334) */;}
.bg-red-400{background-color:color-mix(in oklab, var(--colors-red-400) var(--un-bg-opacity), transparent) /* oklch(70.4% 0.191 22.216) */;}
.bg-red-500{background-color:color-mix(in oklab, var(--colors-red-500) var(--un-bg-opacity), transparent) /* oklch(63.7% 0.237 25.331) */;}
.bg-white{background-color:color-mix(in oklab, var(--colors-white) var(--un-bg-opacity), transparent) /* #fff */;}
.bg-yellow-400{background-color:color-mix(in oklab, var(--colors-yellow-400) var(--un-bg-opacity), transparent) /* oklch(85.2% 0.199 91.936) */;}
.dark .dark\:bg-black{background-color:color-mix(in oklab, var(--colors-black) var(--un-bg-opacity), transparent) /* #000 */;}
.dark .dark\:bg-blue-800{background-color:color-mix(in oklab, var(--colors-blue-800) var(--un-bg-opacity), transparent) /* oklch(42.4% 0.199 265.638) */;}
.dark .dark\:bg-gray-200{background-color:color-mix(in oklab, var(--colors-gray-200) var(--un-bg-opacity), transparent) /* oklch(92.8% 0.006 264.531) */;}
.dark .dark\:bg-gray-800{background-color:color-mix(in oklab, var(--colors-gray-800) var(--un-bg-opacity), transparent) /* oklch(27.8% 0.033 256.848) */;}
.dark .dark\:bg-gray-900{background-color:color-mix(in oklab, var(--colors-gray-900) var(--un-bg-opacity), transparent) /* oklch(21% 0.034 264.665) */;}
.dark .dark\:bg-green-700{background-color:color-mix(in oklab, var(--colors-green-700) var(--un-bg-opacity), transparent) /* oklch(52.7% 0.154 150.069) */;}
.dark .dark\:bg-green-800{background-color:color-mix(in oklab, var(--colors-green-800) var(--un-bg-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.dark .dark\:bg-green-900{background-color:color-mix(in oklab, var(--colors-green-900) var(--un-bg-opacity), transparent) /* oklch(39.3% 0.095 152.535) */;}
.dark .dark\:bg-red-800{background-color:color-mix(in oklab, var(--colors-red-800) var(--un-bg-opacity), transparent) /* oklch(44.4% 0.177 26.899) */;}
.dark .dark\:hover\:bg-gray-900:hover{background-color:color-mix(in oklab, var(--colors-gray-900) var(--un-bg-opacity), transparent) /* oklch(21% 0.034 264.665) */;}
.dark .dark\:hover\:bg-green-800:hover{background-color:color-mix(in oklab, var(--colors-green-800) var(--un-bg-opacity), transparent) /* oklch(44.8% 0.119 151.328) */;}
.dark .dark\:hover\:bg-green-900:hover{background-color:color-mix(in oklab, var(--colors-green-900) var(--un-bg-opacity), transparent) /* oklch(39.3% 0.095 152.535) */;}
.hover\:bg-gray-100:hover{background-color:color-mix(in oklab, var(--colors-gray-100) var(--un-bg-opacity), transparent) /* oklch(96.7% 0.003 264.542) */;}
.hover\:bg-green-100:hover{background-color:color-mix(in oklab, var(--colors-green-100) var(--un-bg-opacity), transparent) /* oklch(96.2% 0.044 156.743) */;}
.hover\:bg-green-500:hover{background-color:color-mix(in oklab, var(--colors-green-500) var(--un-bg-opacity), transparent) /* oklch(72.3% 0.219 149.579) */;}
.hover\:bg-green-50:hover{background-color:color-mix(in oklab, var(--colors-green-50) var(--un-bg-opacity), transparent) /* oklch(98.2% 0.018 155.826) */;}
} }
